* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  height: 100dvh;
  position: relative;
}

body {
  /* padding: 20px;  */
  font-family: Arial, Helvetica, sans-serif;
  background: #27292c;
  color: white;
}

h1 {
  margin-top: 30px;
}

header {
  width: 100%;
  height: 85px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 1px 4px -1px rgba(0,0,0,0.75);
  -webkit-box-shadow: 0px 1px 4px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 1px 4px -1px rgba(0,0,0,0.75);
}
.header--logo {
  width: 55px;
}

.header--nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header--nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 1.1rem;
}

.header--nav-list > li {
  cursor: pointer;
}
main {
  padding: 20px;
}

main h1 {
  margin-block:  0 20px;
}
.react-list {
  padding-left: 40px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}



footer {
  background-color: #000;
  width: 100%;
  position: absolute;
  bottom: 0;
  padding: 10px 20px;
  text-align: center;
}